upstream backend_hosts {
    {% for host in groups['web'] %}
       server {{ hostvars[host]['ansible_facts']['fqdn'] }};
    {% endfor %}
}

server {
    listen       443;
    server_name  webapp.tp2.lab;

    ssl_certificate         /etc/pki/tls/certs/nginx-ynov;
    ssl_certificate_key     /etc/pki/tls/private/nginx-ynov.key;


    location / {
        proxy_pass   http://backend_hosts;
        proxy_set_header    Host $host;
    }
}
